/.pytest_cache
/automat_na_penize.py
/cisla.py
/collection.py
/data_type
/dictionary.py
/dictionary2.py
/for, while.py
/fronta.py
/grafy.py
/josephs_problem.py
/math_1.py
/mnoziny.py
/pytest
/rovnice.py
/sifrovani.py
/sifrovani_2.py
/sifrovani_ahoj.py
/skolaonline.py
/slovni_fotbal.py
/soubor
/test_write.txt
/transactions.csv
/transactions.py
/university_records.csv
/vypocet_kruhu_ve_ctverci.py
/zasobnik.py